$mainColor: var(--main-color);
$secondColor: var(--second-color);
$thirdColor: var(--third-color);
$fourthColor: var(--fourth-color);
$whiteColor: var(--white-color);

$backgroundColor: var(--background-color);
$upperBackgroundColor: var(--upper-background-color);

$boxShadowThirdColor: var(--box-shadow-third-color);
$boxShadowMainColor: var(--box-shadow-main-color);
$boxShadowWhiteColor: var(--box-shadow-white-color);
